<html>

<head>
	<title>ABOUT | AK</title>
	<link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body>	
	<div id="header">
		<h1>About Us</h1>
	</div>
	<div id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/students">Students</a></li>
			<li><a href="/comments">Comment</a></li>
			<li><a href="/video">Video</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</div>
	<img src="/images/homeImage.jpg" >
	<div id="content">
		<h2>About</h2>
		<p>
			This website is made on Sinatra Framework. Part of Assignment 3. <br>
		</p>
	</div>	
</div>
</body>

</html>