<html>
<head>
	<title>LOGGED IN CONTACT US | AK</title>
	<link href="styles.css" rel="stylesheet" type="text/css">
	
</head>
<body>	
	<div id="header">
		<h1>Contact Us - You Are Logged In</h1>
	</div>
	<div id="nav">
		<ul>
			<li><a href="/homeLoggedIn">Home</a></li>
			<li><a href="/aboutLoggedIn">About</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/students">Students</a></li>
			<li><a href="/comments">Comment</a></li>
			<li><a href="/video">Video</a></li>
			<li><a href="/logout">Logout</a></li>

		</ul>
	</div>
	<img src="/images/welcomeImage.jpg" >
	<div id="content">
		<h2>Contact Us</h2>
		<p>
			Contact me at : akant@scu.edu <br>
		</p>
	</div>	
</body>

</html>