<html>

<head>
	<title>LOGGED IN HOME | AK </title>
	<link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="header">
		<h1>Students Website - You Are Logged In</h1>
	</div>
	<div id="nav">
		<ul>
			<li><a href="/homeLoggedIn">Home</a></li>
			<li><a href="/aboutLoggedIn">About</a></li>
			<li><a href="/contactLoggedIn">Contact</a></li>
			<li><a href="/students">Students</a></li>
			<li><a href="/comments">Comment</a></li>
			<li><a href="/video">Video</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>	
	</div>
	<img src="/images/welcomeImage.jpg" >
	<div id="content">
		<h2>Home</h2>
		<h2>Who is a Student ?</h2>
		<p>
			A student or pupil is a learner or someone who attends an educational institution. <br>
		</p>
		<p> <b>Learn more about Students from following links</b><br>
			
			<ul>
				<li><a href="https://en.wikipedia.org/wiki/Student">Who is a Student</a></li>
				<li><a href="https://www.scu.edu/students/">SCU Students</a></li>
			</ul>
		</div>	
	</body>

	</html>