<html>

<head>
	<title>HOME | AK </title>
	<link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="header">
		<h1>Students Website</h1>
	</div>
	<div id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/students">Students</a></li>
			<li><a href="/comments">Comment</a></li>
			<li><a href="/video">Video</a></li>
			<li><a href="/login">Login</a></li>
		</ul>	
	</div>
	<img src="/images/homeImage.jpg" >
	<div id="content">
		<h2>Home</h2>
		<p>
			This website is made on Sinatra Framework. Part of Assignment 3. <br>
		</p>
		<h2>Who is a Student ?</h2>
		<p>
			A student or pupil is a learner or someone who attends an educational institution. <br>
		</p>
	</div>	
</body>

</html>