<html>
<head>
	<title>LOGIN PAGE | AK</title>
	<link href="styles.css" rel="stylesheet" type="text/css">
	
</head>
<body>
	<div id="header">
		<h1>LOGIN PAGE</h1>
	</div>
	<img src="\images\welcomeImage.jpg" alt="welcome image">
	
	<div>
		<form method="post" action="/login">
			<label for="Uname">Username</label>
			<input type="text" id="Uname" name="username" placeholder="Enter Username"><br>

			<label for="pwd">Password</label>
			<input type="password" id="pwd" name="password" placeholder="Enter Password"><br>
			<input type="submit" name="submit" value="LOGIN">			
		</form>
	</div>
	

		<a href="/"> <<< BACK </a>
	
</body>

</html>