<html>
<head>
	<title>VIDEO | AK</title>
	<link href="styles.css" rel="stylesheet" type="text/css">
</head>


<body>	
	<div id="header">
		<h1>Videos for Students</h1>
	</div>
	<div id="nav">
		<ul>

			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/students">Students</a></li>
			<li><a href="/comments">Comment</a></li>
			<li><a href="/video">Video</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</div>
	<img src="/images/homeImage.jpg" >
	<div id="content">
		<h2>Videos for students</h2>
		<h3> Rise and Shine! </h3> <video width="320" height="240" controls>
			<source src="/images/movie.mp4" type="video/mp4" autoplay>
				Your browser does not support the video tag.
			</video>
			<br><br>
			<iframe width="560" height="320" src="https://www.youtube.com/embed/R7iN71uJcG0" frameborder="2" >
				
			</iframe>

		</div>
	</body>
	</html>